<h1>TimePickerSlider</h1>

<p>consumer-a works!</p>

<div>Current picked date: {{ dateValue }}</div>

<app-time-picker-slider [(value)]="dateValue" (valueChange)="onDateValueChange($event)"></app-time-picker-slider>

<!--<app-time-picker-slider [(value)]="dateValue2" (valueChange)="onDateValueChange($event)"></app-time-picker-slider>-->

<!--<app-time-picker-slider [(value)]="dateValue3" (valueChange)="onDateValueChange($event)"></app-time-picker-slider>-->

<!--<app-time-picker-slider [(value)]="dateValue4" (valueChange)="onDateValueChange($event)"></app-time-picker-slider>-->
